.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: var(--spacing-lg) 0;
}

@media screen and (min-width: 768px) {
  .main {
    padding: var(--spacing-xl) 0;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding: var(--spacing-xxl) 0;
  }
}
